@font-face {
  font-family: 'Neue Montreal';
  src: url('./assets/fonts/NeueMontreal-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Neue Montreal';
  src: url('./assets/fonts/NeueMontreal-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Neue Montreal';
  src: url('./assets/fonts/NeueMontreal-Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Neue Montreal';
  src: url('./assets/fonts/NeueMontreal-Bold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Neue Montreal', sans-serif;
  text-transform: uppercase;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.container {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: #000;
  overflow: hidden;
}

.background-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -2;
}

.blur-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(18, 18, 18, 0.3);
  backdrop-filter: blur(50px);
  z-index: -1; 
  transition: 0.3s;
}

.items {
  padding: 2em;
  z-index: 2;
  text-align: left;
  width: 100vw;
}

.main-content {
display: flex;
width: 100vw;
}

.item {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

.preview {
  position: absolute;
  width: 100vw;
  height: 100vh;
  color: #fff;
  z-index: 1;
}

.preview-title h1 {
  font-size: 10px;
}

.preview-description p {
  font-size: 10.5px;
}

.preview.variant-1 .preview-img {
  position: absolute;
  top: 0%;
  left: 0%;
  margin: 0em 2em;
  width: 600px;
  /* height: 400px; */
  clip-path: polygon(0% 100%, 100% 100%, 100% 100%, 0% 100%);
}

.preview.variant-1 .preview-title {
  position: absolute;
  bottom: 38%;
  left: 0%;
  margin: 2em;
}

.preview.variant-1 .preview-description {
  width: 250px;
  position: absolute;
  bottom: 30%;
  left: 0%;
  margin: 2em;
}

.close-btn {
  display: none;
  position: absolute;
  top: 0px;
  left: 10%;
  background-color: rgba(255, 255, 255, 0.1);
  border: none;
  border-radius: 50%;
  width: 0px;
  height: 0px;
  font-size: 18px;
  cursor: pointer;
  z-index: 3;
}

.nav {
  width: 60vw;
  padding: 2em 0em 0em 2em;
  z-index: 2;
  color: white;
  text-transform: uppercase;
}

h1, h2 {
  font-size: 10.5px;
  font-family: 'Neue Montreal', sans-serif;
}

.nav ul, .nav li {
  list-style-type: none; 
  padding: 0; 
  margin: 0; 
  line-height: 12px;
}

a, a:hover, a:active, a:visited, a:focus {
  text-decoration: none;
  color: white;
  font-size: 10.5px;
  font-family: 'Neue Montreal', sans-serif;
}

.contact {
  padding: 2em 0em 0em 0em;
}

.catalog-container {
  width: 60%;
}

.items {
  width: 100%;
}

.item {
  display: flex;
}

.item:hover {
  background: rgba(18, 18, 18, 0.2);
  backdrop-filter: blur(10px);
}

.item:hover p {
  color: #888888;
}

.category {
  padding: 0.2em;
}

.category.code {
  flex-basis: 5%; 
}

.category.title {
  flex-basis: 30%; 
}

.category.industry {
  flex-basis: 30%; 
}

.category.date {
  flex-basis: 10%; 
}

.category p {
  margin: 0;
}

.item p {
  color: #fff;
  font-size: 10.5px;
  text-align: left;
  transition: color 0.3s;
}

@media (max-width: 1000px) {
    .catalog-container {
      width: 100%;
    }
}

@media (max-width: 800px) {
  .main-content {
    display: flex;
    flex-direction: column;
    }
    .preview.variant-1 .preview-img {
      position: absolute;
      top: -5%;
      left: 0%;
      margin: 2em;
      width: 80%;
      clip-path: polygon(0% 100%, 100% 100%, 100% 100%, 0% 100%);
    }
    .preview.variant-1 .preview-title {
      bottom: 58%;
    }
    
    .preview.variant-1 .preview-description {
      bottom: 50%;
    }
}