@font-face {
  font-family: "Theinhardt-Regular";   
  src: local("Theinhardt-Regular"),
    url("./Theinhardt-Regular.otf") format("opentype");
}

.theinhardt {
  font-family: "Theinhardt-Regular";
  font-weight: 400;
  font-style: normal;
}

:root {
  font-size: 13px;
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  background-color: #000000;
}

ul {
  list-style: none;
}

a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  color: #b3d6d4;
  background-color: none !important;
}

h1, h2 {
  font-size: 12.5px;
}

.main-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch; 
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  color: #b3d6d4;
}

@media (max-width: 700px) {
  .main-container {
    flex-direction: column;
    height: 100%;
  }
}