:root {
  font-size: 12.5px;
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  background-color: #2b4b3b;
}

ul {
  list-style: none;
}

a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  color: #b3d6d4;
  background-color: none !important;
}

h1, h2 {
  font-size: 12.5px;
}

.main-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch; 
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  color: #b3d6d4;
}
